#foro{
    margin: 20px;
    border-radius: 10px;
    background-color: #8dbdd8;
    padding: 5px;
}
#datos{
    color: #000;
    background-color: #CDCDCD;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    padding: 5px;
}
#comentario{
    color: #000;
    background-color: #CDCDCD;
    border-radius: 10px;
    border: solid;
    padding: 5px;
}